openapi: 3.1.0
info:
  description: |-
    This is the specification of the Llama Stack that provides
                    a set of endpoints and their corresponding interfaces that are
    tailored to
                    best leverage Llama Models.
  title: Llama Stack Specification
  version: v1
servers:
- url: http://any-hosted-llama-stack.com
security:
- Default: []
tags:
- description: |-
    Main functionalities provided by this API:
    - Create agents with specific instructions and ability to use tools.
    - Interactions with agents are grouped into sessions ("threads"), and each interaction is called a "turn".
    - Agents can be provided with various tools (see the ToolGroups and ToolRuntime APIs for more details).
    - Agents can be provided with various shields (see the Safety API for more details).
    - Agents can also use Memory to retrieve information from knowledge bases. See the RAG Tool and Vector IO APIs for more details.
  name: Agents
  x-displayName: Agents API for creating and interacting with agentic systems.
- description: |-
    This is an asynchronous API. If the request is successful, the response will be a job which can be polled for completion.

    NOTE: This API is not yet implemented and is subject to change in concert with other asynchronous APIs
    including (post-training, evals, etc).
  name: BatchInference (Coming Soon)
  x-displayName: Batch inference API for generating completions and chat completions.
- name: Benchmarks
- name: DatasetIO
- name: Datasets
- name: Eval
  x-displayName: Llama Stack Evaluation API for running evaluations on model and agent
    candidates.
- name: Files
- description: |-
    This API provides the raw interface to the underlying models. Two kinds of models are supported:
    - LLM models: these models generate "raw" and "chat" (conversational) completions.
    - Embedding models: these models generate embeddings to be used for semantic search.
  name: Inference
  x-displayName: "Llama Stack Inference API for generating completions, chat completions,\
    \ and embeddings."
- name: Inspect
- name: Models
- name: PostTraining (Coming Soon)
- name: Providers
  x-displayName: "Providers API for inspecting, listing, and modifying providers and\
    \ their configurations."
- name: Safety
- name: Scoring
- name: ScoringFunctions
- name: Shields
- name: SyntheticDataGeneration (Coming Soon)
- name: Telemetry
- name: ToolGroups
- name: ToolRuntime
- name: VectorDBs
- name: VectorIO
paths:
  /v1/datasetio/append-rows/{dataset_id}:
    post:
      description: ""
      parameters:
      - explode: false
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppendRowsRequest'
        required: true
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - DatasetIO
  /v1/inference/batch-chat-completion:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchChatCompletionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchChatCompletionResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Inference
  /v1/inference/batch-completion:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCompletionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCompletionResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Inference
  /v1/post-training/job/cancel:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelTrainingJobRequest'
        required: true
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - PostTraining (Coming Soon)
  /v1/inference/chat-completion:
    post:
      description: Generate a chat completion for the given messages using the specified
        model.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponseStreamChunk'
          description: "If stream=False, returns a ChatCompletionResponse with the\
            \ full completion. If stream=True, returns an SSE event stream of ChatCompletionResponseStreamChunk"
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - BatchInference (Coming Soon)
  /v1/inference/completion:
    post:
      description: Generate a completion for the given content using the specified
        model.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompletionResponse'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/CompletionResponseStreamChunk'
          description: "If stream=False, returns a CompletionResponse with the full\
            \ completion. If stream=True, returns an SSE event stream of CompletionResponseStreamChunk"
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - BatchInference (Coming Soon)
  /v1/agents:
    get:
      description: List all agents.
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentsResponse'
          description: A ListAgentsResponse.
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Agents
    post:
      description: Create an agent with the given configuration.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCreateResponse'
          description: An AgentCreateResponse with the agent ID.
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Agents
  /v1/agents/{agent_id}/session:
    post:
      description: Create a new session for an agent.
      parameters:
      - description: The ID of the agent to create the session for.
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentSessionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSessionCreateResponse'
          description: An AgentSessionCreateResponse.
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Agents
  /v1/agents/{agent_id}/session/{session_id}/turn:
    post:
      description: Create a new turn for an agent.
      parameters:
      - description: The ID of the agent to create the turn for.
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the session to create the turn for.
        explode: false
        in: path
        name: session_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentTurnRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/AgentTurnResponseStreamChunk'
          description: "If stream=False, returns a Turn object. If stream=True, returns\
            \ an SSE event stream of AgentTurnResponseStreamChunk"
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Agents
  /v1/files:
    get:
      description: List all buckets.
      parameters:
      - explode: true
        in: query
        name: bucket
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBucketResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Files
    post:
      description: Create a new upload session for a file identified by a bucket and
        key.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUploadSessionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Files
  /v1/agents/{agent_id}:
    delete:
      description: Delete an agent by its ID.
      parameters:
      - description: The ID of the agent to delete.
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Agents
    get:
      description: Describe an agent by its ID.
      parameters:
      - description: ID of the agent.
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'
          description: An Agent of the agent.
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Agents
  /v1/agents/{agent_id}/session/{session_id}:
    delete:
      description: Delete an agent session by its ID.
      parameters:
      - description: The ID of the session to delete.
        explode: false
        in: path
        name: session_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the agent to delete the session for.
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Agents
    get:
      description: Retrieve an agent session by its ID.
      parameters:
      - description: The ID of the session to get.
        explode: false
        in: path
        name: session_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the agent to get the session for.
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          type: string
        style: simple
      - description: (Optional) List of turn IDs to filter the session by.
        explode: true
        in: query
        name: turn_ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Agents
  /v1/files/{bucket}/{key}:
    delete:
      description: Delete a file identified by a bucket and key.
      parameters:
      - description: "Bucket name (valid chars: a-zA-Z0-9_-)"
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "Key under which the file is stored (valid chars: a-zA-Z0-9_-/.)"
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Files
    get:
      description: Get a file info identified by a bucket and key.
      parameters:
      - description: "Bucket name (valid chars: a-zA-Z0-9_-)"
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      - description: "Key under which the file is stored (valid chars: a-zA-Z0-9_-/.)"
        explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Files
  /v1/inference/embeddings:
    post:
      description: Generate embeddings for content pieces using the specified model.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
          description: "An array of embeddings, one for each content. Each embedding\
            \ is a list of floats. The dimensionality of the embedding is model-specific;\
            \ you can check model metadata using /models/{model_id}"
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Inference
  /v1/eval/benchmarks/{benchmark_id}/evaluations:
    post:
      description: Evaluate a list of rows on a benchmark.
      parameters:
      - description: The ID of the benchmark to run the evaluation on.
        explode: false
        in: path
        name: benchmark_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluateRowsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateResponse'
          description: EvaluateResponse object containing generations and scores
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Eval
  /v1/agents/{agent_id}/session/{session_id}/turn/{turn_id}/step/{step_id}:
    get:
      description: Retrieve an agent step by its ID.
      parameters:
      - description: The ID of the agent to get the step for.
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the session to get the step for.
        explode: false
        in: path
        name: session_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the turn to get the step for.
        explode: false
        in: path
        name: turn_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the step to get.
        explode: false
        in: path
        name: step_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentStepResponse'
          description: An AgentStepResponse.
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Agents
  /v1/agents/{agent_id}/session/{session_id}/turn/{turn_id}:
    get:
      description: Retrieve an agent turn by its ID.
      parameters:
      - description: The ID of the agent to get the turn for.
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the session to get the turn for.
        explode: false
        in: path
        name: session_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the turn to get.
        explode: false
        in: path
        name: turn_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
          description: A Turn.
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Agents
  /v1/eval/benchmarks/{benchmark_id}:
    get:
      description: ""
      parameters:
      - explode: false
        in: path
        name: benchmark_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Benchmark'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Benchmarks
  /v1/datasets/{dataset_id}:
    delete:
      description: ""
      parameters:
      - explode: false
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Datasets
    get:
      description: ""
      parameters:
      - explode: false
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Datasets
  /v1/models/{model_id}:
    delete:
      description: ""
      parameters:
      - explode: false
        in: path
        name: model_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Models
    get:
      description: ""
      parameters:
      - explode: false
        in: path
        name: model_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Models
  /v1/scoring-functions/{scoring_fn_id}:
    get:
      description: ""
      parameters:
      - explode: false
        in: path
        name: scoring_fn_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoringFn'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - ScoringFunctions
  /v1/shields/{identifier}:
    get:
      description: ""
      parameters:
      - explode: false
        in: path
        name: identifier
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shield'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Shields
  /v1/telemetry/traces/{trace_id}/spans/{span_id}:
    get:
      description: ""
      parameters:
      - explode: false
        in: path
        name: trace_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: span_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Span'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Telemetry
  /v1/telemetry/spans/{span_id}/tree:
    post:
      description: ""
      parameters:
      - explode: false
        in: path
        name: span_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetSpanTreeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuerySpanTreeResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Telemetry
  /v1/tools/{tool_name}:
    get:
      description: ""
      parameters:
      - explode: false
        in: path
        name: tool_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tool'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - ToolGroups
  /v1/toolgroups/{toolgroup_id}:
    delete:
      description: Unregister a tool group
      parameters:
      - explode: false
        in: path
        name: toolgroup_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - ToolGroups
    get:
      description: ""
      parameters:
      - explode: false
        in: path
        name: toolgroup_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolGroup'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - ToolGroups
  /v1/telemetry/traces/{trace_id}:
    get:
      description: ""
      parameters:
      - explode: false
        in: path
        name: trace_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trace'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Telemetry
  /v1/post-training/job/artifacts:
    get:
      description: ""
      parameters:
      - explode: true
        in: query
        name: job_uuid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJobArtifactsResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - PostTraining (Coming Soon)
  /v1/post-training/job/status:
    get:
      description: ""
      parameters:
      - explode: true
        in: query
        name: job_uuid
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJobStatusResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - PostTraining (Coming Soon)
  /v1/post-training/jobs:
    get:
      description: ""
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPostTrainingJobsResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - PostTraining (Coming Soon)
  /v1/files/session:{upload_id}:
    get:
      description: Returns information about an existsing upload session
      parameters:
      - description: ID of the upload session
        explode: false
        in: path
        name: upload_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Files
    post:
      description: "Upload file content to an existing upload session. On the server,\
        \ request body will have the raw bytes that are uploaded."
      parameters:
      - description: ID of the upload session
        explode: false
        in: path
        name: upload_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Files
  /v1/vector-dbs/{vector_db_id}:
    delete:
      description: ""
      parameters:
      - explode: false
        in: path
        name: vector_db_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - VectorDBs
    get:
      description: ""
      parameters:
      - explode: false
        in: path
        name: vector_db_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorDB'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - VectorDBs
  /v1/health:
    get:
      description: ""
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthInfo'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Inspect
  /v1/tool-runtime/rag-tool/insert:
    post:
      description: Index documents so they can be used by the RAG system
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertRequest'
        required: true
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - ToolRuntime
  /v1/vector-io/insert:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertChunksRequest'
        required: true
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - VectorIO
  /v1/providers/{provider_id}:
    get:
      description: ""
      parameters:
      - explode: false
        in: path
        name: provider_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderInfo'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Providers
  /v1/tool-runtime/invoke:
    post:
      description: Run a tool with the given arguments
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvokeToolRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolInvocationResult'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - ToolRuntime
  /v1/datasetio/iterrows/{dataset_id}:
    get:
      description: |-
        Get a paginated list of rows from a dataset.
        Uses offset-based pagination where:
        - start_index: The starting index (0-based). If None, starts from beginning.
        - limit: Number of items to return. If None or -1, returns all items.

        The response includes:
        - data: List of items for the current page
        - has_more: Whether there are more items available after this set
      parameters:
      - description: The ID of the dataset to get the rows from.
        explode: false
        in: path
        name: dataset_id
        required: true
        schema:
          type: string
        style: simple
      - description: Index into dataset for the first row to get. Get all rows if
          None.
        explode: true
        in: query
        name: start_index
        required: false
        schema:
          type: integer
        style: form
      - description: The number of rows to get.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - DatasetIO
  /v1/eval/benchmarks/{benchmark_id}/jobs/{job_id}:
    delete:
      description: Cancel a job.
      parameters:
      - description: The ID of the benchmark to run the evaluation on.
        explode: false
        in: path
        name: benchmark_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the job to cancel.
        explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Eval
    get:
      description: Get the status of a job.
      parameters:
      - description: The ID of the benchmark to run the evaluation on.
        explode: false
        in: path
        name: benchmark_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the job to get the status of.
        explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: The status of the evaluationjob.
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Eval
  /v1/eval/benchmarks/{benchmark_id}/jobs/{job_id}/result:
    get:
      description: Get the result of a job.
      parameters:
      - description: The ID of the benchmark to run the evaluation on.
        explode: false
        in: path
        name: benchmark_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the job to get the result of.
        explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluateResponse'
          description: The result of the job.
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Eval
  /v1/agents/{agent_id}/sessions:
    get:
      description: List all session(s) of a given agent.
      parameters:
      - description: The ID of the agent to list sessions for.
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAgentSessionsResponse'
          description: A ListAgentSessionsResponse.
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Agents
  /v1/eval/benchmarks:
    get:
      description: ""
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBenchmarksResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Benchmarks
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterBenchmarkRequest'
        required: true
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Benchmarks
  /v1/datasets:
    get:
      description: ""
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetsResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Datasets
    post:
      description: Register a new dataset.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDatasetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dataset'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Datasets
  /v1/files/{bucket}:
    get:
      description: List all files in a bucket.
      parameters:
      - description: "Bucket name (valid chars: a-zA-Z0-9_-)"
        explode: false
        in: path
        name: bucket
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFileResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Files
  /v1/models:
    get:
      description: ""
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Models
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterModelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Models
  /v1/providers:
    get:
      description: ""
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProvidersResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Providers
  /v1/inspect/routes:
    get:
      description: ""
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRoutesResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Inspect
  /v1/tool-runtime/list-tools:
    get:
      description: ""
      parameters:
      - explode: true
        in: query
        name: tool_group_id
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: mcp_endpoint
        required: false
        schema:
          $ref: '#/components/schemas/URL'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListToolDefsResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - ToolRuntime
  /v1/scoring-functions:
    get:
      description: ""
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListScoringFunctionsResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - ScoringFunctions
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterScoringFunctionRequest'
        required: true
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - ScoringFunctions
  /v1/shields:
    get:
      description: ""
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListShieldsResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Shields
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterShieldRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shield'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Shields
  /v1/toolgroups:
    get:
      description: List tool groups with optional provider
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListToolGroupsResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - ToolGroups
    post:
      description: Register a tool group
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterToolGroupRequest'
        required: true
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - ToolGroups
  /v1/tools:
    get:
      description: List tools with optional tool group
      parameters:
      - explode: true
        in: query
        name: toolgroup_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListToolsResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - ToolGroups
  /v1/vector-dbs:
    get:
      description: ""
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVectorDBsResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - VectorDBs
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterVectorDbRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VectorDB'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - VectorDBs
  /v1/telemetry/events:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogEventRequest'
        required: true
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Telemetry
  /v1/openai/v1/chat/completions:
    post:
      description: Generate an OpenAI-compatible chat completion for the given messages
        using the specified model.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenaiChatCompletionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_v1_openai_v1_chat_completions_post_200_response'
          description: Response from an OpenAI-compatible chat completion request.
            **OR** Chunk from a streaming response to an OpenAI-compatible chat completion
            request.
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Inference
  /v1/openai/v1/completions:
    post:
      description: Generate an OpenAI-compatible completion for the given prompt using
        the specified model.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenaiCompletionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAICompletion'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Inference
  /v1/openai/v1/models:
    get:
      description: ""
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenAIListModelsResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Models
  /v1/post-training/preference-optimize:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferenceOptimizeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJob'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - PostTraining (Coming Soon)
  /v1/tool-runtime/rag-tool/query:
    post:
      description: Query the RAG system for context; typically invoked by the agent
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RAGQueryResult'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - ToolRuntime
  /v1/vector-io/query:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryChunksRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryChunksResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - VectorIO
  /v1/telemetry/spans:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuerySpansRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuerySpansResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Telemetry
  /v1/telemetry/traces:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryTracesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryTracesResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Telemetry
  /v1/agents/{agent_id}/session/{session_id}/turn/{turn_id}/resume:
    post:
      description: |-
        Resume an agent turn with executed tool call responses.
        When a Turn has the status `awaiting_input` due to pending input from client side tool calls, this endpoint can be used to submit the outputs from the tool calls once they are ready.
      parameters:
      - description: The ID of the agent to resume.
        explode: false
        in: path
        name: agent_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the session to resume.
        explode: false
        in: path
        name: session_id
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the turn to resume.
        explode: false
        in: path
        name: turn_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResumeAgentTurnRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Turn'
            text/event-stream:
              schema:
                $ref: '#/components/schemas/AgentTurnResponseStreamChunk'
          description: "A Turn object if stream is False, otherwise an AsyncIterator\
            \ of AgentTurnResponseStreamChunk objects."
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Agents
  /v1/eval/benchmarks/{benchmark_id}/jobs:
    post:
      description: Run an evaluation on a benchmark.
      parameters:
      - description: The ID of the benchmark to run the evaluation on.
        explode: false
        in: path
        name: benchmark_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunEvalRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
          description: The job that was created to run the evaluation.
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Eval
  /v1/safety/run-shield:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RunShieldRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunShieldResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Safety
  /v1/telemetry/spans/export:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveSpansToDatasetRequest'
        required: true
      responses:
        "200":
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Telemetry
  /v1/scoring/score:
    post:
      description: Score a list of rows.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreResponse'
          description: ScoreResponse object containing rows and aggregated results
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Scoring
  /v1/scoring/score-batch:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScoreBatchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreBatchResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Scoring
  /v1/post-training/supervised-fine-tune:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupervisedFineTuneRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrainingJob'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - PostTraining (Coming Soon)
  /v1/synthetic-data-generation/generate:
    post:
      description: ""
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyntheticDataGenerateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SyntheticDataGenerationResponse'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - SyntheticDataGeneration (Coming Soon)
  /v1/version:
    get:
      description: ""
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionInfo'
          description: OK
        "400":
          $ref: '#/components/responses/BadRequest400'
        "429":
          $ref: '#/components/responses/TooManyRequests429'
        "500":
          $ref: '#/components/responses/InternalServerError500'
        default:
          $ref: '#/components/responses/DefaultError'
      tags:
      - Inspect
components:
  responses:
    BadRequest400:
      content:
        application/json:
          example:
            status: 400
            title: Bad Request
            detail: The request was invalid or malformed
          schema:
            $ref: '#/components/schemas/Error'
      description: The request was invalid or malformed
    TooManyRequests429:
      content:
        application/json:
          example:
            status: 429
            title: Too Many Requests
            detail: You have exceeded the rate limit. Please try again later.
          schema:
            $ref: '#/components/schemas/Error'
      description: The client has sent too many requests in a given amount of time
    InternalServerError500:
      content:
        application/json:
          example:
            status: 500
            title: Internal Server Error
            detail: An unexpected error occurred. Our team has been notified.
          schema:
            $ref: '#/components/schemas/Error'
      description: The server encountered an unexpected error
    DefaultError:
      content:
        application/json:
          example:
            status: 0
            title: Error
            detail: An unexpected error occurred
          schema:
            $ref: '#/components/schemas/Error'
      description: An unexpected error occurred
  schemas:
    Error:
      additionalProperties: false
      description: Error response from the API. Roughly follows RFC 7807.
      example:
        instance: instance
        detail: detail
        title: title
        status: 0
      properties:
        status:
          description: HTTP status code
          type: integer
        title:
          description: "Error title, a short summary of the error which is invariant\
            \ for an error type"
          type: string
        detail:
          description: "Error detail, a longer human-readable description of the error"
          type: string
        instance:
          description: (Optional) A URL which can be used to retrieve more information
            about the specific occurrence of the error
          type: string
      required:
      - detail
      - status
      - title
      title: Error
    AppendRowsRequest:
      additionalProperties: false
      example:
        rows:
        - key: true
        - key: true
      properties:
        rows:
          items:
            additionalProperties:
              $ref: '#/components/schemas/AppendRowsRequest_rows_inner_value'
          type: array
      required:
      - rows
      title: AppendRowsRequest
    CompletionMessage:
      additionalProperties: false
      description: A message containing the model's (assistant) response in a chat
        conversation.
      example:
        role: assistant
        stop_reason: end_of_turn
        tool_calls:
        - tool_name: brave_search
          arguments_json: arguments_json
          arguments: ToolCall_arguments
          call_id: call_id
        - tool_name: brave_search
          arguments_json: arguments_json
          arguments: ToolCall_arguments
          call_id: call_id
        content: InterleavedContent
      properties:
        role:
          default: assistant
          description: Must be "assistant" to identify this as the model's response
          enum:
          - assistant
          type: string
        content:
          $ref: '#/components/schemas/InterleavedContent'
        stop_reason:
          description: "Reason why the model stopped generating. Options are: - `StopReason.end_of_turn`:\
            \ The model finished generating the entire response. - `StopReason.end_of_message`:\
            \ The model finished generating but generated a partial response -- usually,\
            \ a tool call. The user may call the tool and continue the conversation\
            \ with the tool's response. - `StopReason.out_of_tokens`: The model ran\
            \ out of token budget."
          enum:
          - end_of_turn
          - end_of_message
          - out_of_tokens
          type: string
        tool_calls:
          description: List of tool calls. Each tool call is a ToolCall object.
          items:
            $ref: '#/components/schemas/ToolCall'
          type: array
      required:
      - content
      - role
      - stop_reason
      title: CompletionMessage
    GrammarResponseFormat:
      additionalProperties: false
      description: Configuration for grammar-guided response generation.
      properties:
        type:
          default: grammar
          description: Must be "grammar" to identify this format type
          enum:
          - grammar
          type: string
        bnf:
          additionalProperties:
            $ref: '#/components/schemas/AppendRowsRequest_rows_inner_value'
          description: The BNF grammar specification the response should conform to
      required:
      - bnf
      - type
      title: GrammarResponseFormat
    GreedySamplingStrategy:
      additionalProperties: false
      example:
        type: greedy
      properties:
        type:
          default: greedy
          enum:
          - greedy
          type: string
      required:
      - type
      title: GreedySamplingStrategy
    ImageContentItem:
      additionalProperties: {}
      description: A image content item
      properties:
        type:
          default: image
          description: Discriminator type of the content item. Always "image"
        image:
          $ref: '#/components/schemas/ImageContentItem_image'
      required:
      - image
      - type
      title: ImageContentItem
    InterleavedContent:
      oneOf:
      - type: string
      - $ref: '#/components/schemas/InterleavedContentItem'
      - items:
          $ref: '#/components/schemas/InterleavedContentItem'
        type: array
    InterleavedContentItem:
      discriminator:
        mapping:
          image: '#/components/schemas/ImageContentItem'
          text: '#/components/schemas/TextContentItem'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/ImageContentItem'
      - $ref: '#/components/schemas/TextContentItem'
    JsonSchemaResponseFormat:
      additionalProperties: false
      description: Configuration for JSON schema-guided response generation.
      example:
        json_schema:
          key: null
        type: json_schema
      properties:
        type:
          default: json_schema
          description: Must be "json_schema" to identify this format type
          enum:
          - json_schema
          type: string
        json_schema:
          additionalProperties:
            $ref: '#/components/schemas/AppendRowsRequest_rows_inner_value'
          description: "The JSON schema the response should conform to. In a Python\
            \ SDK, this is often a `pydantic` model."
      required:
      - json_schema
      - type
      title: JsonSchemaResponseFormat
    Message:
      discriminator:
        mapping:
          user: '#/components/schemas/UserMessage'
          system: '#/components/schemas/SystemMessage'
          tool: '#/components/schemas/ToolResponseMessage'
          assistant: '#/components/schemas/CompletionMessage'
        propertyName: role
      oneOf:
      - $ref: '#/components/schemas/UserMessage'
      - $ref: '#/components/schemas/SystemMessage'
      - $ref: '#/components/schemas/ToolResponseMessage'
      - $ref: '#/components/schemas/CompletionMessage'
    ResponseFormat:
      discriminator:
        mapping:
          json_schema: '#/components/schemas/JsonSchemaResponseFormat'
          grammar: '#/components/schemas/GrammarResponseFormat'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/JsonSchemaResponseFormat'
      - $ref: '#/components/schemas/GrammarResponseFormat'
    SamplingParams:
      additionalProperties: false
      description: Sampling parameters.
      example:
        stop:
        - stop
        - stop
        max_tokens: 0
        strategy:
          type: greedy
        repetition_penalty: 6.027456183070403
      properties:
        strategy:
          $ref: '#/components/schemas/SamplingStrategy'
        max_tokens:
          default: 0
          description: The maximum number of tokens that can be generated in the completion.
            The token count of your prompt plus max_tokens cannot exceed the model's
            context length.
          type: integer
        repetition_penalty:
          default: 1.0
          description: "Number between -2.0 and 2.0. Positive values penalize new\
            \ tokens based on whether they appear in the text so far, increasing the\
            \ model's likelihood to talk about new topics."
          type: number
        stop:
          description: Up to 4 sequences where the API will stop generating further
            tokens. The returned text will not contain the stop sequence.
          items:
            type: string
          type: array
      required:
      - strategy
      title: SamplingParams
    SamplingStrategy:
      discriminator:
        mapping:
          greedy: '#/components/schemas/GreedySamplingStrategy'
          top_p: '#/components/schemas/TopPSamplingStrategy'
          top_k: '#/components/schemas/TopKSamplingStrategy'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/GreedySamplingStrategy'
      - $ref: '#/components/schemas/TopPSamplingStrategy'
      - $ref: '#/components/schemas/TopKSamplingStrategy'
    SystemMessage:
      additionalProperties: false
      description: A system message providing instructions or context to the model.
      example:
        role: system
        content: InterleavedContent
      properties:
        role:
          default: system
          description: Must be "system" to identify this as a system message
          enum:
          - system
          type: string
        content:
          $ref: '#/components/schemas/InterleavedContent'
      required:
      - content
      - role
      title: SystemMessage
    TextContentItem:
      additionalProperties: false
      description: A text content item
      properties:
        type:
          default: text
          description: Discriminator type of the content item. Always "text"
          enum:
          - text
          type: string
        text:
          description: Text content
          type: string
      required:
      - text
      - type
      title: TextContentItem
    ToolCall:
      additionalProperties: false
      example:
        tool_name: brave_search
        arguments_json: arguments_json
        arguments: ToolCall_arguments
        call_id: call_id
      properties:
        call_id:
          type: string
        tool_name:
          $ref: '#/components/schemas/ToolCall_tool_name'
        arguments:
          $ref: '#/components/schemas/ToolCall_arguments'
        arguments_json:
          type: string
      required:
      - arguments
      - call_id
      - tool_name
      title: ToolCall
    ToolConfig:
      additionalProperties: false
      description: Configuration for tool use.
      example:
        system_message_behavior: append
        tool_choice: auto
        tool_prompt_format: json
      properties:
        tool_choice:
          $ref: '#/components/schemas/ToolConfig_tool_choice'
        tool_prompt_format:
          description: "(Optional) Instructs the model how to format tool calls. By\
            \ default, Llama Stack will attempt to use a format that is best adapted\
            \ to the model. - `ToolPromptFormat.json`: The tool calls are formatted\
            \ as a JSON object. - `ToolPromptFormat.function_tag`: The tool calls\
            \ are enclosed in a <function=function_name> tag. - `ToolPromptFormat.python_list`:\
            \ The tool calls are output as Python syntax -- a list of function calls."
          enum:
          - json
          - function_tag
          - python_list
          type: string
        system_message_behavior:
          default: append
          description: "(Optional) Config for how to override the default system prompt.\
            \ - `SystemMessageBehavior.append`: Appends the provided system message\
            \ to the default system prompt. - `SystemMessageBehavior.replace`: Replaces\
            \ the default system prompt with the provided system message. The system\
            \ message can include the string '{{function_definitions}}' to indicate\
            \ where the function definitions should be inserted."
          enum:
          - append
          - replace
          type: string
      title: ToolConfig
    ToolDefinition:
      additionalProperties: false
      example:
        tool_name: brave_search
        description: description
        parameters:
          key:
            default: true
            description: description
            required: true
            param_type: param_type
      properties:
        tool_name:
          $ref: '#/components/schemas/ToolCall_tool_name'
        description:
          type: string
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/ToolParamDefinition'
      required:
      - tool_name
      title: ToolDefinition
    ToolParamDefinition:
      additionalProperties: false
      example:
        default: true
        description: description
        required: true
        param_type: param_type
      properties:
        param_type:
          type: string
        description:
          type: string
        required:
          default: true
          type: boolean
        default:
          $ref: '#/components/schemas/AppendRowsRequest_rows_inner_value'
      required:
      - param_type
      title: ToolParamDefinition
    ToolResponseMessage:
      additionalProperties: false
      description: A message representing the result of a tool invocation.
      properties:
        role:
          default: tool
          description: Must be "tool" to identify this as a tool response
          enum:
          - tool
          type: string
        call_id:
          description: Unique identifier for the tool call this response is for
          type: string
        content:
          $ref: '#/components/schemas/InterleavedContent'
      required:
      - call_id
      - content
      - role
      title: ToolResponseMessage
    TopKSamplingStrategy:
      additionalProperties: false
      properties:
        type:
          default: top_k
          enum:
          - top_k
          type: string
        top_k:
          type: integer
      required:
      - top_k
      - type
      title: TopKSamplingStrategy
    TopPSamplingStrategy:
      additionalProperties: {}
      properties:
        type:
          default: top_p
        temperature: {}
        top_p:
          default: 0.95
      required:
      - type
      title: TopPSamplingStrategy
    URL:
      additionalProperties: false
      example:
        uri: uri
      properties:
        uri:
          type: string
      required:
      - uri
      title: URL
    UserMessage:
      additionalProperties: false
      description: A message from the user in a chat conversation.
      example:
        role: user
        context: null
        content: InterleavedContent
      properties:
        role:
          default: user
          description: Must be "user" to identify this as a user message
          enum:
          - user
          type: string
        content:
          $ref: '#/components/schemas/InterleavedContent'
        context:
          $ref: '#/components/schemas/InterleavedContent'
      required:
      - content
      - role
      title: UserMessage
    BatchChatCompletionRequest:
      additionalProperties: {}
      example:
        response_format:
          json_schema:
            key: null
          type: json_schema
        tool_config:
          system_message_behavior: append
          tool_choice: auto
          tool_prompt_format: json
        model_id: model_id
        sampling_params:
          stop:
          - stop
          - stop
          max_tokens: 0
          strategy:
            type: greedy
          repetition_penalty: 6.027456183070403
        tools:
        - tool_name: brave_search
          description: description
          parameters:
            key:
              default: true
              description: description
              required: true
              param_type: param_type
        - tool_name: brave_search
          description: description
          parameters:
            key:
              default: true
              description: description
              required: true
              param_type: param_type
        messages_batch:
        - - role: user
            context: null
            content: InterleavedContent
          - role: user
            context: null
            content: InterleavedContent
        - - role: user
            context: null
            content: InterleavedContent
          - role: user
            context: null
            content: InterleavedContent
        logprobs:
          top_k: 1
      properties:
        model_id:
          type: string
        messages_batch:
          items:
            items:
              $ref: '#/components/schemas/Message'
        sampling_params:
          $ref: '#/components/schemas/SamplingParams'
        tools:
          items:
            $ref: '#/components/schemas/ToolDefinition'
        tool_config:
          $ref: '#/components/schemas/ToolConfig'
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
        logprobs:
          $ref: '#/components/schemas/LogProbConfig'
      required:
      - messages_batch
      - model_id
      title: BatchChatCompletionRequest
    BatchChatCompletionResponse:
      additionalProperties: false
      example:
        batch:
        - completion_message:
            role: assistant
            stop_reason: end_of_turn
            tool_calls:
            - tool_name: brave_search
              arguments_json: arguments_json
              arguments: ToolCall_arguments
              call_id: call_id
            - tool_name: brave_search
              arguments_json: arguments_json
              arguments: ToolCall_arguments
              call_id: call_id
            content: InterleavedContent
          metrics:
          - unit: unit
            metric: metric
            value: 0
          - unit: unit
            metric: metric
            value: 0
          logprobs:
          - logprobs_by_token:
              key: 6.027456183070403
          - logprobs_by_token:
              key: 6.027456183070403
        - completion_message:
            role: assistant
            stop_reason: end_of_turn
            tool_calls:
            - tool_name: brave_search
              arguments_json: arguments_json
              arguments: ToolCall_arguments
              call_id: call_id
            - tool_name: brave_search
              arguments_json: arguments_json
              arguments: ToolCall_arguments
              call_id: call_id
            content: InterleavedContent
          metrics:
          - unit: unit
            metric: metric
            value: 0
          - unit: unit
            metric: metric
            value: 0
          logprobs:
          - logprobs_by_token:
              key: 6.027456183070403
          - logprobs_by_token:
              key: 6.027456183070403
      properties:
        batch:
          items:
            $ref: '#/components/schemas/ChatCompletionResponse'
          type: array
      required:
      - batch
      title: BatchChatCompletionResponse
    ChatCompletionResponse:
      additionalProperties: false
      description: Response from a chat completion request.
      example:
        completion_message:
          role: assistant
          stop_reason: end_of_turn
          tool_calls:
          - tool_name: brave_search
            arguments_json: arguments_json
            arguments: ToolCall_arguments
            call_id: call_id
          - tool_name: brave_search
            arguments_json: arguments_json
            arguments: ToolCall_arguments
            call_id: call_id
          content: InterleavedContent
        metrics:
        - unit: unit
          metric: metric
          value: 0
        - unit: unit
          metric: metric
          value: 0
        logprobs:
        - logprobs_by_token:
            key: 6.027456183070403
        - logprobs_by_token:
            key: 6.027456183070403
      properties:
        metrics:
          items:
            $ref: '#/components/schemas/MetricInResponse'
          type: array
        completion_message:
          $ref: '#/components/schemas/CompletionMessage'
        logprobs:
          description: Optional log probabilities for generated tokens
          items:
            $ref: '#/components/schemas/TokenLogProbs'
          type: array
      required:
      - completion_message
      title: ChatCompletionResponse
    MetricInResponse:
      additionalProperties: false
      example:
        unit: unit
        metric: metric
        value: 0
      properties:
        metric:
          type: string
        value:
          $ref: '#/components/schemas/MetricInResponse_value'
        unit:
          type: string
      required:
      - metric
      - value
      title: MetricInResponse
    TokenLogProbs:
      additionalProperties: false
      description: Log probabilities for generated tokens.
      example:
        logprobs_by_token:
          key: 6.027456183070403
      properties:
        logprobs_by_token:
          additionalProperties:
            type: number
          description: Dictionary mapping tokens to their log probabilities
      required:
      - logprobs_by_token
      title: TokenLogProbs
    BatchCompletionRequest:
      additionalProperties: {}
      example:
        response_format:
          json_schema:
            key: null
          type: json_schema
        content_batch:
        - InterleavedContent
        - InterleavedContent
        model_id: model_id
        sampling_params:
          stop:
          - stop
          - stop
          max_tokens: 0
          strategy:
            type: greedy
          repetition_penalty: 6.027456183070403
        logprobs:
          top_k: 1
      properties:
        model_id:
          type: string
        content_batch:
          items:
            $ref: '#/components/schemas/InterleavedContent'
        sampling_params:
          $ref: '#/components/schemas/SamplingParams'
        response_format:
          $ref: '#/components/schemas/ResponseFormat'
        logprobs:
          $ref: '#/components/schemas/LogProbConfig'
      required:
      - content_batch
      - model_id
      title: BatchCompletionRequest
    BatchCompletionResponse:
      additionalProperties: false
      example:
        batch:
        - stop_reason: end_of_turn
          metrics:
          - unit: unit
            metric: metric
            value: 0
          - unit: unit
            metric: metric
            value: 0
          content: content
          logprobs:
          - logprobs_by_token:
              key: 6.027456183070403
          - logprobs_by_token:
              key: 6.027456183070403
        - stop_reason: end_of_turn
          metrics:
          - unit: unit
            metric: metric
            value: 0
          - unit: unit
            metric: metric
            value: 0
          content: content
          logprobs:
          - logprobs_by_token:
              key: 6.027456183070403
          - logprobs_by_token:
              key: 6.027456183070403
      properties:
        batch:
          items:
            $ref: '#/components/schemas/CompletionResponse'
          type: array
      required:
      - batch
      title: BatchCompletionResponse
    CompletionResponse:
      additionalProperties: false
      description: Response from a completion request.
      example:
        stop_reason: end_of_turn
        metrics:
        - unit: unit
          metric: metric
          value: 0
        - unit: unit
          metric: metric
          value: 0
        content: content
[...]
